body img {
  height: auto;
}

@media (min-width: 768px) {
  .finanzasAlcance h3 {
    padding-top: 12%;
  }

  .finanzasAlcance {
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  body.home .lessons-browser .lecciones-list,
  body.home .lessons-browser .lecciones-list > .lesson-item {
    background: none !important;
    border: 0;
    padding: 2% 0;
  }
  body.home .curso-lecciones .lecciones-list > .lesson-item .lesson-number {
    display: initial !important;
    color: white !important;
  }
  body.home .curso-lecciones .lecciones-list > .lesson-item .lesson-title {
    color: white !important;
    margin-top: 12px;
    font-size: 18px;
  }

  body.home
    .curso-lecciones
    .lecciones-list
    > .lesson-item
    .lesson-description {
    color: #ccc;
  }

  body.home .xavier-lesson {
    margin-top: -100px;
  }

  footer .logo-container {
    display: none;
  }

  footer .main-foot {
    padding: 40px 0;
  }

  footer .main-foot .container {
    text-align: center;
  }

  footer .main-foot .secondFooter div {
    text-align: center !important;
  }

  footer .main-foot .three-columns {
    margin-bottom: 0;
  }

  body .lessons-browser .title {
    font-size: 30px;
  }

  body .curso-intro .xavier-lesson .title {
    font-size: 68px;
    margin: 0;
    padding: 0;
  }

  .curso-features {
    background: none !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  .curso-intro {
    padding-bottom: 0 !important;
  }

  body.home .lessons-browser {
    padding-top: 0 !important;
  }

  .curso-miembrosBg {
    margin-top: -300px;
  }

  .onlyDesktop {
    display: none;
  }

  body .curso-intro .xavier-lesson .title {
    font-size: 45px;
  }

  li.bbp-forum-topic-count,
  li.bbp-forum-reply-count,
  li.bbp-topic-voice-count,
  li.bbp-topic-reply-count,
  li.bbp-forum-freshness,
  li.bbp-topic-freshness {
    display: none;
  }
}

body.home .curso-lecciones .lecciones-list > .lesson-item .col-xs-1 {
  text-align: center;
}

.finanzasAlcance h3,
.finanzasAlcance p {
  color: white;
}

.finanzasAlcance p {
  font-size: 16px;
}

.xavier-info {
  display: none;
}

body.home .lessons-browser {
  background: black !important;
}

.testimonios {
  background: initial !important;
}
.testimonios .container {
  background: white;
}

/* body .lessons-browser .title{color: white !important;} */

.curso-features {
  margin-top: 5%;
}

body .lessons-browser .lecciones-list > .lesson-item.row {
  border-color: #d8d7d7;
}

#registration_form_1 > div {
  width: 100%;
  float: none;
}

#registration_form_1 {
  margin-bottom: 40px;
}

.editProfile {
  margin-top: 150px;
}

#wpua-upload-messages-existing {
  display: none;
}

#wpua-upload-existing {
  margin-bottom: 20px;
}
.comment-form-attachment {
  display: none;
}

.learndashComments .comments {
  margin: initial;
}

#respond {
  margin-top: 50px;
}

.learndashComments .comments ul li {
  border: 0;
}

.learndashComments .comments > ul li {
  border-bottom: 1px solid #989898;
}

.learndashComments .comments ul li .reply a {
  border: 0;
  color: #1e2e6b;
  margin-top: 10px;
  background: none;
  padding: 0;
}

.mainForum {
  padding-top: 0 !important;
}

footer a:hover {
  color: #ff5000;
}

body.page-id-596 .learndash-resume-button input {
  color: white !important;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

body .curso-intro .curso-info > div .class-price {
  margin-top: 60px;
}

body .curso-features .features-list .feature .feature-title {
  color: #1e2e6b;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

/* body .curso-intro .curso-info > div .info-title {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
} */

body .curso-intro .curso-info > div .class-price {
  color: white;
}

body .explicame .half-right .tu-progreso {
  display: block;
  width: 100%;
  font-size: 84px;
  line-height: 1.1;
  font-family: "Avenir LTStd Book", sans-serif;
}

body .curso-miembros .curso-info .lessons-completed {
  font-family: "Avenir LTStd Book", sans-serif !important;
}

/*After test*/

/* #menu-item-804 a {
  background: #ff5000;
  padding: 10px;
  font-weight: bold;
} */

.homeVideoContainer {
  margin-top: 60px;
  margin-bottom: 60px;
}

.homeVideoContainer {
  text-align: right;
}

#closeVideo {
  color: white;
  font-size: 18px;
}

#openVideo {
  display: block;
  margin: 25px auto;
  width: 90px;
}
.homeVideo {
  background-color: $color-gray-light-bg;
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
}

.homeVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .learndashMain .learndashContent {
  background: white;
} */

@media (max-width: 768px) {
  .learndashMain .learndashTitle {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .learndashTitle {
    padding: 0 66px;
  }
}

@media (max-width: 768px) {
  .learndashResources img {
    width: 100%;
  }
  .learndashResources h3 {
    font-size: 17px;
  }
}

.learndashMain .learndashContent p {
  margin-bottom: 20px;
}

#sfwd-mark-complete {
  width: 100%;
  float: none;
  margin-top: 30px;
  text-align: right;
}

body
  .lessons-browser
  .lecciones-list
  > .lesson-index
  .lesson-chapter
  .chapter-title,
body .curso-lecciones .lecciones-list > li .lesson-title,
body .curso-lecciones .lecciones-list > .lesson-item .lesson-title {
  text-transform: initial;
}

@media (max-width: 768px) {
  body .lessons-browser .lecciones-list > .lesson-index .lesson-chapter {
    padding: 8px 0 3px;
  }

  body
    .lessons-browser
    .lecciones-list
    > .lesson-index
    .lesson-chapter
    .chapter-title,
  body .curso-lecciones .lecciones-list > li .lesson-title,
  body .curso-lecciones .lecciones-list > .lesson-item .lesson-title {
    font-size: 18px;
  }
  body .curso-lecciones .lecciones-list > li .lesson-number,
  body .curso-lecciones .lecciones-list > .lesson-item .lesson-number {
    font-size: 26px;
  }

  body .curso-lecciones .lecciones-list > li .lesson-description,
  body .curso-lecciones .lecciones-list > .lesson-item .lesson-description {
    font-size: 14px;
  }

  body
    .lessons-browser
    .lecciones-list
    > .lesson-index
    .lesson-chapter
    .chapter-title {
    margin-top: 10px;
    font-size: 16px !important;
  }
}

.lesson-number {
  display: inline-block !important;
  line-height: 1;
}

body .lessons-browser .lecciones-list > .lesson-index .lesson-chapter {
  border-color: #bab5b5;
}

@media (min-width: 768px) {
  body.single-sfwd-lessons .learndash_post_sfwd-lessons {
    padding: 0 66px;
  }
}

body .curso-intro .curso-info > div .class-price {
  font-size: 20px;
}
body .curso-intro .curso-info > div .class-price span {
  font-size: 60px;
}

div.annotator-touch-widget.annotator-touch-controls {
  right: initial;
  left: 15px;
}

@media (max-width: 768px) {
  .editProfile {
    margin-top: 0;
  }
}

#wpua-upload-button-existing #wpua-file-existing {
  margin: 0 auto 20px;
}

@media (max-width: 768px) {
  body.home .curso-lecciones .lecciones-list > .lesson-item .lesson-title {
    margin-top: 0;
  }
  body.home .lessons-browser .lecciones-list > .lesson-item.row {
    margin-bottom: 20px;
  }

  body.page-curso-miembros
    .lessons-browser
    .lecciones-list
    > .lesson-index
    .lesson-chapter {
    margin-left: 0;
  }
  body.page-curso-miembros
    .lessons-browser
    .lecciones-list
    > .lesson-index
    .lesson-chapter
    .col-sm-11 {
    padding-left: 0;
  }

  body
    .lessons-browser
    .lecciones-list
    > .lesson-index
    .lesson-chapter
    .chapter-title
    i.fa {
    margin-left: 10px;
    position: absolute;
    right: -18px;
    top: 0;
  }

  body .curso-lecciones .lecciones-list > .lesson-item .lesson-title i.fa {
    margin-left: 10px;
    position: absolute;
    right: 10px;
    top: 0;
  }

  body.home .curso-info div:nth-child(1) .curso-icon {
    height: 94px;
  }
}

body.page-curso-miembros .lessons-browser .lecciones-list > .lesson-index ul {
  background: none;
  border: 0;
}

body.page-curso-miembros
  .lessons-browser
  .lecciones-list
  > .lesson-index
  .lesson-chapter:nth-child(1) {
  border-top: none;
}

body.page-curso-miembros .curso-miembrosBg {margin-top:0;}