body {
    //Main style for the Page Body
    padding-top: 58px;
    @include breakpoint(md) {
        padding-top: 70px;
    }
    & {
        font-family: Arial, Helvetica, sans-serif;
        //background: $color-black;
        img {
            max-width: 100%;
            &.full-width {
                width: 100%;
            }
        }
        h1,
        h2,
        h3,
        h4 {
            font-family: $font-neo-bold;
        }
        .more-link {
            display: block;
            background-color: $color-blue-theme;
            color: $color-white;
            font-size: 16px;
            text-align: center;
            padding: 8px 20px;
            max-width: 200px;
            margin: 20px auto;
            outline: 0;
            @include transition(all 150ms ease-in-out);
            &:hover {
                background-color: $color-red !important;
                text-decoration: none;
            }
        }
        .continue-link {
            $caret-size: 13px;
            display: inline-block;
            margin: 15px auto;
            text-transform: uppercase;
            color: $color-blue-theme;
            position: relative;
            outline: 0;
            &:after {
                content: "";
                position: absolute;
                top: 3px;
                left: 100%;
                margin-left: 7px;
                border-top: ($caret-size/1.75) solid transparent;
                border-bottom: ($caret-size/1.75) solid transparent;
                border-right: ($caret-size/1.75) solid transparent;
                border-left: $caret-size solid $color-blue-theme;
            }
            &,
            &:after {
                @include transition(all 150ms ease-in-out);
            }
            @include hover {
                color: $color-red;
                @include text-shadow(0 0 1px $color-blue-theme-lighter);
                &:after {
                    border-left: $caret-size solid $color-blue-theme-lighter;
                }
            }
        }
        .title {
            text-align: center;
            text-transform: uppercase;
            color: $color-blue-theme;
            font-size: 38px;
        }
        .subtitle {
            font-size: 30px;
            color: $color-blue-theme;
            @include media-breakpoint-down(xs) {
                font-size: 26px;
            }
        }
        .btn {
            display: block;
            background-color: $color-white;
            color: $color-black;
            font-size: 16px;
            text-align: center;
            padding: 10px 20px 8px;
            max-width: 300px;
            margin: 20px 0;
            outline: 0;
            border-radius: 50px !important;
            font-family: $font-neo-bold;
            @include transition(all 150ms ease-in-out);
            @include border-radius(0);
            &.btn-blue {
                color: $color-white;
                background-color: $color-blue-dark;
                @include hover {
                    background-color: $color-red;
                }
            }
            &.btn-gray {
                color: $color-orange;
                background-color: $color-gray;
                @include hover {
                    background-color: $color-red;
                }
            }
            &.btn-white {
                color: $color-blue-dark;
                background-color: white;
                @include hover {
                    background-color: $color-blue-dark;
                    color: white;
                }
            }
        }
        .pad-top {
            @include breakpoint(sm) {
                padding-top: $logo-height;
            }
        }
        .pad-bot {
            padding-top: $logo-height;
            padding-bottom: $logo-height;
        }
    }
    #login-page {
        min-height: 100%;
        height: 100%;
        height: 100vh;
        background-color: $color-blue-theme; // Old browsers
        @include filter-gradient( $color-blue-theme, $color-black, vertical); // IE6-9
        @include background-image( linear-gradient( top, $color-blue-theme 30%, $color-blue-theme 30%, $color-black 100%));
        #loginform {
            background: $color-white;
            position: absolute;
            width: 400px;
            top: 50%;
            left: 50%;
            @include translate(-50%, -50%);
        }
    }
    .bpd-wp {
        @include breakpoint(md) {
            margin-bottom: 50px;
        }
    }
    // explicame xavier
    .explicame {
        background-color: white;
        margin: 30px 0 100px;
        .half-left {
            .explicameContent {
                overflow: hidden;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }
            .title {
                text-transform: uppercase;
                text-align: left;
                font-size: 34px;
                color: $color-white;
                font-family: $font-Avenir-LTsd-Heavy;
                @include media-breakpoint-down(xs) {
                    font-size: 28px;
                }
            }
        }
        .half-right {
            background-color: darken($color-white, 3%);
            padding: 30px 20px;
            a:hover {
                text-decoration: none;
            }
            h3 {
                color: $color-blue-light;
            }
            p {
                color: $color-blue-theme;
                //border-bottom: 1px solid $color-blue-theme;
                font-size: 14px;
                padding-bottom: 20px;
                max-width: 300px;
                .tu-progreso {
                    display: block;
                    width: 100%;
                    font-size: 84px;
                    line-height: 1.1;
                }
            }
            @include media-breakpoint-down(xs) {
                padding: 50px 20px;
                p {
                    .tu-progreso {
                        font-size: 56px;
                    }
                }
            }
        }
    }
    //xavier info
    .bpd-info {
        background: $color-white url("#{$img-dir}/xavier_promo.png") no-repeat bottom right;
        background-position-x: 80%;
        @include media-breakpoint-down(sm) {
            background-position-x: 100%;
            background-position-x: 100%;
        }
        .container {
            position: relative;
        }
        .half-left {
            padding-top: 40px;
            padding-bottom: 40px;
            //min-height: 400px;
            p {
                font-size: 19px;
                line-height: 1.5;
            }
        }
        @include media-breakpoint-down(xs) {
            .half-left {
                width: 100%;
            }
        }
    }
    //xavier perfil
    .perfil {
        margin: 50px auto 50px;
        @include breakpoint(sm) {
            margin: 50px auto 60px;
        }
        text-align: center;
        .avatar {
            img {
                @include border-radius(50%);
            }
        }
        .name {
            font-size: 25px;
            text-transform: none;
            margin-top: 15px;
            @include media-breakpoint-down(xs) {
                font-size: 38px;
            }
        }
    }
    //xavier testimoneos
    .testimonios {
        background-color: $color-white;
        padding-top: 5%;
        padding-bottom: 5%;
        .royalSlider {
            &,
            .rsOverflow,
            .rsSlide {
                background: $color-white;
            }
            .rsArrowLeft,
            .rsArrowRight {
                .rsArrowIcn {
                    background: none;
                    &:after {
                        $caret-size: 25px;
                        content: "";
                        position: absolute;
                        z-index: 5;
                        top: 0;
                        left: 0;
                        border-top: ($caret-size/1.75) solid transparent;
                        border-bottom: ($caret-size/1.75) solid transparent;
                        border-right: ($caret-size/1.75) solid transparent;
                        border-left: $caret-size solid $color-blue-theme;
                    }
                }
            }
            .rsArrowLeft {
                .rsArrowIcn {
                    &:after {
                        $caret-size: 25px;
                        border-top: ($caret-size/1.75) solid transparent;
                        border-bottom: ($caret-size/1.75) solid transparent;
                        border-left: ($caret-size/1.75) solid transparent;
                        border-right: $caret-size solid $color-blue-theme;
                    }
                }
            }
        }
        * {
            color: $color-blue-theme;
        }
        .container {
            text-align: center;
            .testimonio-container {
                display: inline-block;
                @include media-breakpoint-up(sm) {
                    max-width: 60%;
                }
                .avatar {
                    float: left;
                    width: 105px;
                    margin-right: 20px;
                    img {
                        width: 105px;
                    }
                }
                .testimonio-text {
                    text-align: left;
                    font-size: 36px;
                }
                .author-info {
                    text-align: left;
                    margin-top: 15px;
                    padding-top: 15px;
                    .name {
                        font-size: 18px;
                        text-transform: uppercase;
                        padding-top: 12px;
                    }
                    .subtitle {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    //Detalle curso
    .curso-intro {
        position: relative;
        overflow: hidden;
        #video_bg {
            width: 100%;
            position: absolute;
            display: none;
            @include breakpoint(md) {
                display: block;
            }
        }
        @include breakpoint(xs) {
            background-color: $color-black;
            background-repeat: no-repeat;
        }
        background-size: cover !important;
        // padding: 50px 0;
        // height: 100vh;
        padding-bottom:20px;
        img {
            @include disable-drag;
        }
        .bpd-lesson {
            //margin-top: 60px;
            .title {
                font-size: 40px;
                margin-bottom: 0;
                text-align: center;
                color: white;
            }
            .subtitle {
                color: $color-white;
                font-size: 25px;
                margin-top: 0;
                margin-bottom: 50px;
                text-align: center;
                text-transform: uppercase;
            }
            .description {
                color: white;
                text-align: center;
                max-width: 600px;
                margin: auto;
            }
            .ab-container {
                position: relative;
                width: 100%;
                margin: 0;
                .align-bot {
                    @include breakpoint(xs) {
                        margin-top: 50px;
                    }
                    @include breakpoint(md) {
                        margin-top: 74px;
                    }
                }
            }
        }
        .curso-info {
            margin-top: 31px;
            margin-bottom: 40px;
            >div {
                &:nth-of-type(2) {
                    @include breakpoint(md) {
                        border-left: 1px solid $color-white;
                        border-right: 1px solid $color-white;
                    }
                    @include breakpoint(xs) {
                        padding: 40px 0;
                    }
                }
                .curso-icon {
                    img {
                        width: 100px;
                        margin-bottom: 10px;
                    }
                }
                .info-title {
                    color: $color-white;
                }
                p {
                    font-size: 16px;
                    color: $color-white;
                    line-height: 26px;
                    &.info-title {
                        font-size: 18px;
                        text-transform: uppercase;
                    }
                }
                .class-price {
                    font-size: 35px;
                    font-weight: 500;
                    margin: 10px 0 0;
                    color: white;
                }
                .class-subinfo {
                    font-size: 12px;
                }
                .btn {
                    &:first-of-type {
                        margin-bottom: 10px;
                    }
                    &:last-of-type {
                        margin-top: 10px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        @include media-breakpoint-down(md) {
            .bpd-lesson {
                .title {
                    //font-size: 82px;
                    margin-top: 55px;
                }
                .subtitle {
                    font-size: 32px;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            .bpd-lesson {
                .title {
                    font-size: 33px;
                    margin: 0;
                }
                .subtitle {
                    font-size: 15px;
                }
            }
        }
        @include media-breakpoint-down(xs) {
            .bpd-lesson {
                padding-top: $logo-height;
                .half-left {
                    display: none;
                }
                .ab-container {
                    .align-bot {
                        width: 100%;
                        position: relative;
                        left: 0;
                        .title,
                        .subtitle {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .bpd-lesson {
        @include breakpoint(xs) {
            padding: 0 !important;
        }
    }
    .curso-features {
        background: url("#{$img-dir}/bg2.jpg") center no-repeat;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        .features-list {
            .feature {
                background-color: $color-white;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                @include breakpoint(sm) {
                    padding-top: 80px;
                    padding-bottom: 80px;
                    height: 320px;
                }
                .feature-icon {
                    height: 70px;
                    position: relative;
                    img {
                        @include disable-drag;
                    }
                    p {
                        font-size: 45px;
                        color: $color-blue-theme;
                    }
                    img,
                    p {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include translate(-50%,
                        -50%);
                    }
                }
                p {
                    font-size: 16px;
                    &.feature-title {
                        color: $color-blue-theme;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .curso-lecciones {
        background-color: $color-white;
        padding-top: 20px;
        .title {
            color: $color-blue-theme;
            font-size: 45px;
            @include breakpoint(md) {
                font-size: 35px;
            }
        }
        .lecciones-list {
            margin: 0;
            padding: 0;
            list-style: none;
            background: $color-gray-light-bg;
            >li,
            >.lesson-item {
                background: $color-gray-light-bg;
                border: 0;
                padding-top: 20px;
                padding-bottom: 10px;
                &:not(:last-of-type) {
                    //border-bottom: none;
                }
                .lesson-number {
                    font-size: 39px;
                    color: $color-red;
                    text-align: right;
                    padding-top: 0;
                    display: inline-block;
                    line-height: 0.9;
                }
                .lesson-title {
                    display: inline-block;
                    margin-top: 0;
                    font-size: 24px;
                    color: $color-blue-theme;
                    text-transform: uppercase;
                    i.fa {
                        margin-left: 10px;
                    }
                }
                .lesson-description {
                    font-size: 16px;
                    line-height: 26px;
                    color: $color-black;
                    @include breakpoint(xs) {
                        padding-right: 20px;
                    }
                }
            }
        }
    }
    //CUrso miembro
    .curso-miembros {
        // padding-bottom: 60px;
        //margin-top: 80px;
        height: initial;
        background: $color-blue-theme;
        @include breakpoint(md) {
            //background: url("img/hero/xavierbgmiembros.jpg");
            background-size: cover;
            padding: 50px 0;
        }
        .ab-container {
            position: relative;
        }
        .play-button {
            position: absolute;
            left: 50%;
            top: ($logo-height + 50px);
            @include translate(-50%,
            0);
        }
        .title-container {
            position: initial;
            // left: 0;
            // bottom: 0;
            width: 100%;
            text-transform: uppercase;
            @include breakpoint(xs) {
                position: initial;
            }
            .title,
            .subtitle {
                text-align: center;
            }
            .title {
                font-size: 45px;
                color: white;
                @include breakpoint(xs) {
                    font-size: 34px;
                }
            }
            .subtitle {
                font-size: 26px;
                margin-bottom: 50px;
                @include breakpoint(xs) {
                    margin: 0;
                }
            }
        }
        .curso-info {
            .lessons-completed {
                font-size: 84px;
                line-height: initial;
            }
            a {
                @include breakpoint(md) {
                    text-shadow: initial;
                }
            }
            .info-hint {
                height: 45px;
            }
        }
    }
    .lessons-browser {
        //background-color: $color-blue-theme;
        .title {
            color: $color-blue-light;
            padding: 30px 0;
        }
        .lecciones-list {
            background: $color-white;
            >.lesson-item {
                background: $color-gray-light-bg;
                //border: 1px solid $color-border;
                padding-top: 25px;
                padding-bottom: 25px;
                outline: 0;
                margin: 0;
                @include border-radius(0);
                &:not(:last-of-type) {
                    //border-bottom: none;
                }
                &.row {
                    margin-left: -15px;
                    margin-right: -15px;
                    display: flex;
                }
            }
            >.lesson-index {
                padding: 0;
                background-color: $color-gray-bg;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    @include breakpoint(xs) {
                        background-color: $color-gray-bg;
                        border-top: 1px solid $color-border;
                    }
                }
                .lesson-chapter {
                    a {
                        width: 100%;
                        .col-sm-11 {
                            @include breakpoint(xs) {
                                margin-left: 0;
                            }
                        }
                    }
                    margin: 0;
                    display: flex;
                    height: 100px;
                    align-items: center;
                    border-bottom: 1px solid $color-border;
                    @include breakpoint(xs) {
                        margin: 0 15px;
                        background-color: none;
                        border-top: 0;
                    }
                    @include border-radius(0);
                    &:last-of-type {
                        border-bottom: none;
                    }
                    .chapter-title {
                        font-size: 24px;
                        @include breakpoint(xs) {
                            font-size: 18px;
                        }
                        color: $color-blue-theme;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        img {
                            float: left;
                            width: 40px;
                            margin-right: 30px;
                            @include disable-drag;
                            @include breakpoint(xs) {
                                display: none;
                            }
                        }
                        i.fa {
                            margin-left: 10px;
                        }
                    }
                }
            }
            .ui-icon.fa {
                display: none;
                text-indent: inherit;
                color: #c0bebf;
                background: none;
                position: absolute;
                top: 58%;
                font-size: 2em;
                width: auto;
                height: auto;
                right: 25px;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
            }
        }
    }
    .workbook {
        //background-color: $color-black;
        //padding-bottom: ($logo-height + 70px);
        a {
            color: $color-blue-theme;
            font-size: 18px;
        }
        .lesson-icon {
            margin-bottom: 5px;
            @include breakpoint(md) {
                text-align: right;
                margin-bottom: 0;
                padding-top: 20px;
            }
            img {
                @include disable-drag;
            }
        }
    }
}