@mixin flex-custom($flex: 100 1 auto) {
  -ms-flex: $flex;
  -webkit-flex: $flex;
  flex: $flex;
}
@mixin disable-drag() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
@mixin font-face-custom($font-name, $font-url, $icon-font-svg-id: 0) {
  @font-face {
    font-family: quote($font-name);
    src: url('#{$font-url}.eot');
    src: url('#{$font-url}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-url}.otf') format('opentype'),
    url('#{$font-url}.woff2') format('woff2'),
    url('#{$font-url}.woff') format('woff'),
    url('#{$font-url}.ttf') format('truetype'),
    url('#{$font-url}.svg##{$icon-font-svg-id}') format('svg');
  }
}
@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin; // IE9 only
  transform-origin: $origin;
}
@mixin hover {
  &:hover, &:active, &:focus {
    text-decoration: none;
    @content;
  }
}


// ==========================================================================
// Function
// ==========================


// pixels to em
// font-size:em(20) <---------- Example
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}
