body.single-sfwd-quiz {
  .course_progress_blue {
    background-color: $color-blue-theme !important;
  }
  .wpProQuiz_button {
    @extend .btn, .btn-blue;
    &:hover {
      color: white;
    }
  }
  .wpProQuiz_resultTable {
    background-color: $color-blue-theme;
    color: white;
    table {
      tbody {
        tr {
          .wpProQuiz_resultName {
            border-color: white;
          }
          .wpProQuiz_resultValue {
            div {
              background-color: white !important;
              box-shadow: initial;
            }
          }
        }
      }
    }
  }
  article {
    .row {
      @include breakpoint(md) {
        min-height: 400px;
      }
      .wpProQuiz_content {
        h2 {
          color: $color-blue-theme;
          @extend .mt-4;
        }
        .wpProQuiz_questionList {
          border-color: $color-blue-theme;
          background: whitesmoke;
          padding: 7px 10px;
          @extend .list-inline;
          li {
            @extend .list-inline-item;
            &:last-child {
              overflow: initial;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
