/*!
	Theme Name: THEMENAME
	Theme URI: http://THEMEURI.com
	Description: THEMENAME WordPress Theme
	Version: 1.0
	Author: OD Soluciones (@odsoluciones)
	Author URI: http://odsoluciones.com
	Tags: HTML5, CSS3, SASS, Twitter Bootstrap
*/

// @import "bootstrap-compass";
// @import "bootstrap-variables";
@import "bootstrap4/bootstrap";
@import "compass";
//Mixxin
@import "_mixxin";
//Custom Mixxins
@import "custom_mixxins";
//SCSS Variables
@import "_variables";
//Page Body style
@import "_body";
@import "_annotator";
a {
    outline: 0;
}

.blue {
    color: $color-blue-theme;
}

.wpua-edit {
    position: relative;
    p {
        margin: 0;
    }
    #wpua-images-existing {
        display: none !important;
    }
    .submit {
        margin-top: 10px;
        //	position: absolute;
        //	top: 0;
        //	left: 0;
        //	visibility: hidden;
        //	opacity: 0;
    }
    button {
        @extend .more-link;
        &.button {
            border: 0;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
        }
    }
}

//memberoum forms
#change_email_1 {
    input[type="email"] {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

#memb_password_change-1 {
    input[type="password"] {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

#registration_form_1 {
    >div {
        // width: 50%;
        input[type="text"] {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    @include clearfix;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px 6px;
}

input[type="submit"] {
    // border: 0;
    // padding: 10px 15px;
    // text-align: center;
    // color: white;
    // background-color: $color-blue-theme;
    @extend .btn;
    @extend .btn-blue;
    margin: 0;
    &:hover {
        color: white;
    }
}

//Header
header {
    width: 100%;
    z-index: 2000;
    top: 0;
    #top-header {
        .logo {
            background-color: $color-blue-theme;
            padding: 10px 0;
            display: inline-block;
            // position: absolute;
            // top: -23px;
            // left: 50%;
            z-index: 10;
            // width: 215px;
            // @include breakpoint(md) {
            //     width: 236px;
            // }
            a {
                display: inline-block;
            }
        }
        background-color: $color-blue-theme;
        width: 100%;
        ul {
            padding: 15px 0;
            margin: 0;
            width: 100%;
            text-align: right;
            li {
                display: inline-block;
                border-right: 1px solid $color-white;
                padding: 4px 12px;
                @include breakpoint(xs) {
                    padding: 2px 7px;
                }
                &:first-of-type {
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-right: 0;
                    border-right: 0;
                }
                a {
                    color: $color-white;
                    font-size: 13px;
                    &:hover,
                    &:active,
                    &:focus {
                        text-decoration: none;
                        @include text-shadow(0 0 1px $color-white);
                    }
                    @include breakpoint(xs) {
                        font-size: 10px;
                    }
                }
            }
        }
    }
    & {
        .logo-container {
            @include breakpoint(xs) {
                display: none;
            }
            position: relative;
            .logo {
                background-color: $color-blue-theme;
                padding: 0 40px 20px;
                display: inline-block;
                // position: absolute;
                // top: -23px;
                // left: 50%;
                z-index: 10;
                width: 300px;
                a {
                    display: inline-block;
                }
            }
        }
    }
}

.mobileLogo {
    display: none;
    @include breakpoint(xs) {
        display: block;
        width: 190px;
        padding-top: 16px;
    }
}

.logo-2 {
    background: $color-blue-theme;
    padding: 40px 0;
    img {
        width: 90px;
    }
}

.navbar {
    background: $color-blue-theme;
    border: 0;
    border-radius: initial;
    a {
        color: white !important;
    }
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background: $color-blue-theme;
}

.dropdown-menu {
    background: $color-blue-theme;
}

.dropdown-menu>li>a:hover {
    color: $color-blue-theme !important;
}

footer {
    background: $color-blue-theme;
    & {
        width: 100%;
        padding: 0;
        margin: 0;
        * {
            color: $color-white;
        }
        .logo-container {
            text-align: center;
            position: relative;
            .logo {
                margin: auto;
            }
        }
        .main-foot {
            background-color: $color-blue-theme;
            padding: 40px 0 10px;
            a {
                text-decoration: none;
            }
            .three-columns {
                margin-bottom: 20px;
                .text-center {
                    text-align: center;
                    @include breakpoint(sm) {
                        text-align: left;
                    }
                }
                .column {
                    padding-bottom: 0px;
                    @include breakpoint(sm) {
                        text-align: center;
                        padding-bottom: 60px;
                    }
                    h6 {
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                    p {
                        font-size: 12px;
                        margin-bottom: 0;
                    }
                    ul {
                        padding: 0;
                        margin: 0;
                        margin-top: 20px;
                        list-style: none;
                        li {
                            display: inline-block;
                            margin-right: 10%;
                            &:last-of-type {
                                margin-right: 0;
                            }
                            a {
                                $size: 38px;
                                display: inline-block;
                                width: $size;
                                height: $size;
                                position: relative;
                                i {
                                    font-size: 1.7em;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    @include translate(-50%, -50%);
                                }
                                &,
                                i {
                                    @include transition(all 100ms ease-in-out);
                                }
                                &:hover,
                                &:focus,
                                &:active {
                                    text-decoration: none;
                                    i {
                                        color: $color-orange;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        @include breakpoint(md) {
                            border-left: 1px solid $color-white;
                            border-right: 1px solid $color-white;
                        }
                    }
                }
            }
            .copyright {
                font-size: 12px;
            }
            nav {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        display: inline-block;
                        margin-right: 30px;
                        &:last-of-type {
                            margin-right: 0;
                        }
                        a {
                            text-transform: uppercase;
                            font-size: 12px;
                            @include hover {
                                color: $color-white;
                                @include text-shadow(0 0 1px $color-white);
                            }
                        }
                    }
                }
            }
            .secondFooter {
                a {
                    &:hover {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .cclogo {
        img {
            @include breakpoint(xs) {
                width: 100px;
            }
        }
    }
}

.cursoComunidad {
    .row {
        margin: 0;
    }
    background: $color-gray-light-bg;
    padding-bottom: 20px;
    a.more-link {
        color: white;
    }
    .widget_display_topics {
        padding: 40px 55px;
        h2 {
            text-transform: uppercase;
            color: $color-blue-theme;
            border-bottom: 1px solid $color-blue-theme-lighter;
            margin-bottom: 20px;
        }
        ul {
            padding: 0;
            list-style: none;
        }
    }
}

.questionsAnswers {
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 100px;
    background: url("#{$img-dir}/preguntabg.jpg");
    background-size: cover;
    color: white;
    a {
        color: white !important;
    }
}

// =============
// login
body.login,
body.registro,
body.recuperar-contrasena {
    padding: 0;
}

#membLogin {
    min-height: 100%;
    height: 100%;
    height: 100vh;
    background-color: $color-blue-theme; // Old browsers
    // @include filter-gradient($color-blue-theme, $color-black, vertical); // IE6-9
    // @include background-image(
    //   linear-gradient(
    //     top,
    //     $color-blue-theme 30%,
    //     $color-blue-theme 30%,
    //     $color-black 100%
    //   )
    // );
    display: flex;
    flex-direction: column;
    justify-content: center;
    section {
        padding: 20px 10px;
        background: $color-white;
        width: 80%;
        max-width: 400px;
        margin: 70px auto;
        form {
            width: 90%;
            margin: auto;
            text-align: left;
            label,
            input[type="text"],
            input[type="email"],
            input[type="password"],
            input[type="submit"] {
                display: block;
                width: 100%;
            }
            input[type="submit"] {
                background: $color-red;
                text-transform: uppercase;
                color: white;
                margin: auto;
            }
        }
    }
    .logo {
        width: 250px;
        margin: auto;
        display: block;
        //margin-top: 100px;
        margin: 0 auto;
    }
}

.xavierLogin {
    position: absolute;
    display: none;
    bottom: 0;
    right: 20px;
    width: 40%;
    max-width: 550px;
    @include breakpoint(md) {
        display: block;
    }
}

// =============
// Editar perfil
.editProfile {
    background-color: $color-gray-light-bg;
    margin-bottom: 100px;
    padding: 30px 20px;
    #avatar {
        max-width: 150px;
    }
    @include breakpoint(xs) {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #submit {
        margin: auto;
    }
}

#wpua-add-button-existing {
    .button {
        @extend .btn;
        @extend .btn-white;
        margin: auto !important;
    }
}

.avatar_container {
    max-width: 150px;
    max-height: 150px;
}

.wpua-edit {
    input[type="submit"] {
        margin: 10px auto;
    }
}

div#wpua-add-button {
    margin-right: 0 !important;
}

// =============
// Learndash course
.single-sfwd-courses {
    .courseMain {
        background-color: white;
        max-width: 1170px;
        width: 100%;
        margin: auto;
        #learndash_course_status,
        #learndash_course_content_title,
        #lesson_heading {
            display: none !important;
        }
    }
    .curso-intro .curso-info>div:nth-of-type(2) {
        border-right: 0;
    }
}

.learndashMain {
    .learndash>br {
        display: none;
    }
    max-width: 1170px;
    width: 100%;
    margin: 40px auto;
    #learndash_course_status,
    #learndash_course_content_title,
    #lesson_heading {
        display: none !important;
    }
    .learndashTitle {
        color: $color-blue-theme;
        font-size: 25px;
        @include breakpoint(sm) {
            font-size: 45px;
        }
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .learndashVideo {
        background-color: $color-gray-light-bg;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        /* 16:9 */
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .learndashContent {
        background-color: $color-gray-light-bg;
        padding: 30px;
        p {
            font-size: 20px;
            @include breakpoint(xs) {
                font-size: 16px;
            }
            margin-bottom: 45px;
        }
    }
    .learndash_post_sfwd-topic {
        @include breakpoint(sm) {
            padding-left: 66px;
            padding-right: 66px;
        }
    }
}

.learndashComments {
    background-color: $color-gray-light-bg;
    width: 100%;
    .comments {
        img {
            height: auto;
        }
        textarea#comment {
            padding: 15px 20px;
        }
        max-width: 1170px;
        margin: 80px auto 0;
        padding: 20px 10px 60px 10px;
        h2 {
            color: $color-blue-theme;
            text-transform: uppercase;
        }
        ul {
            list-style: none;
            padding: 0px;
            li {
                padding-top: 50px;
            }
        }
        ul.children {
            list-style: none;
            padding: 0px;
            li {
                border-bottom: 1px solid #989898;
                padding: 40px 0 40px 0;
                .fn {
                    color: $color-blue-theme;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-style: initial;
                }
                img {
                    float: left;
                    margin-right: 20px;
                }
                p {
                    font-size: 20px;
                    margin: 10px 0;
                }
                .reply {
                    a {
                        // border: 0;
                        // padding: 10px 15px;
                        // text-align: center;
                        // color: white;
                        // background-color: #1e2e6b;
                        margin-top: 10px;
                        @extend .btn;
                        @extend .btn-blue;
                        color: white;
                        max-width: 120px !important;
                    }
                }
            }
        }
    }
}

a.comment-reply-link {
    @extend .btn;
    @extend .btn-blue;
    color: white;
    max-width: 120px !important;
}

#learndash_back_to_lesson,
#learndash_next_prev_link {
    display: none !important;
}

.learndash-resume-button input {
    background: none;
    text-transform: uppercase;
    border: none;
    color: $color-blue-theme;
}

.playButton {
    .learndash-resume-button input {
        text-indent: -1000em;
        background-image: url("#{$img-dir}/icons/play-button.png");
        width: 100px;
        height: 100px;
        background-size: 100px;
        background-repeat: no-repeat;
        margin: 10px auto;
        display: block;
    }
}

.courseNavegation {
    color: $color-blue-theme;
    font-size: 16px;
    margin-bottom: 15px;
    a {
        color: $color-blue-theme;
        text-transform: uppercase;
    }
}

.learndash_topic_dots {
    display: none;
}

.learndashResources {
    @include breakpoint(sm) {
        padding-bottom: 30px;
        padding-left: 66px;
    }
    img {
        max-width: 100%;
        @include breakpoint(xs) {
            width: 10%;
        }
    }
    h3 {
        color: $color-blue-theme;
        margin-top: 5px;
        margin-bottom: 0;
    }
    a {
        color: $color-gray;
        text-transform: uppercase;
        margin-top: 8px;
        font-size: 16px;
        display: block;
    }
}

.lesson-item {
    .leccionDescripcion {
        padding-right: 36px;
        @include breakpoint(md) {
            padding-right: 80px;
        }
    }
}

.lessons-browser .title {
    margin-bottom: 20px;
    color: $color-blue-theme !important;
}

#learndash_mark_complete_button {
    color: white !important;
    margin: 0;
    &:hover {
        color: white;
    }
}

// =============
//Comments
.comment-form-comment textarea {
    width: 100%;
}

// =============
//Regular page
.regular-page {
    max-width: 1170px;
    width: 100%;
    margin: 30px auto;
    background-color: white;
}

// =============
//Woocommerce
body.woocommerce-page {
    background: white;
    .sidebar {
        display: none;
    }
    .wooMain {
        float: left;
    }
    h1,
    h2,
    h3,
    h4 {
        color: $color-blue-theme;
    }
    .page-title {
        display: none;
    }
    a.button,
    button.button {
        @extend .btn;
        @extend .btn-blue;
        margin: 0;
        color: white!important;
    }
}

.woocommerce form .form-row {
    width: 100%;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
    background: $color-blue-dark;
    &:hover {
        background-color: lighten($color-blue-dark, 10%) !important;
    }
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border-top-color: $color-blue-theme;
    a.wc-forward {
        display: none !important;
    }
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    color: $color-blue-theme;
}

.woocommerce-message {
    display: none;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: $color-blue-theme;
}

.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: red;
}

body.woocommerce-checkout {
    .woocommerce {
        @include breakpoint(md) {
            width: 60%;
            margin: auto;
        }
        .col-1 {
            width: 100% !important;
            max-width: initial;
            float:none;
        }
        .col-2 {
            //display: none;
            width: 100% !important;
            max-width: initial;
            float:none;
        }
        div.woocommerce-info:nth-child(1) {
            display: none;
        }
    }
    .woocommerce-billing-fields {
        margin: 0 auto 20px;
        max-width: 569px;
        label {
            width: 100%;
        }
        span {
            width: 100%;
            input {
                border-radius: 6px;
            }
        }
    }
    .woocommerce-additional-fields{
        @extend .woocommerce-billing-fields;
    }
    #order_review_heading,
    #order_review {
        max-width: 569px;
        margin: auto;
    }
    .button {
        @extend .btn;
        @extend .btn-blue;
        &:hover {
            color: white;
        }
    }
}

// =============
// bbpress
body.bbpress {
    background-color: white;
    .pageTitle,
    .bbp-breadcrumb a {
        color: $color-blue-theme;
    }
    .mainForum {
        margin-top: 50px;
        @include breakpoint(sm) {
            padding: 60px 0;
        }
    }
    .div.bbp-template-notice.info {
        background-color: $color-blue-theme;
    }
    div.bbp-template-notice,
    div.indicator-hint {
        color: white;
        background-color: $color-blue-theme;
        a {
            color: white;
        }
    }
    .bbp-breadcrumb {
        display: none;
    }
}

#homeVideoContainer {
    position: relative;
    max-height: 500px;
    overflow: hidden;
    display: none;
    #homeVideo {
        width: 100%;
        z-index: -100;
    }
}

body.home {
    .lessons-browser {
        background: #fff !important;
        padding-bottom: 20px;
        padding-top: 50px;
    }
}

.testimonial_rotator_quote {
    font-size: 16px;
    line-height: 26px;
}

.onlyMobile {
    @include breakpoint(md) {
        display: none;
        padding: 0;
        margin: 0;
    }
}

.homeVideoContainer {
    margin-top: 30px;
    margin-bottom: 60px;
    display: none;
    text-align: right;
    #closeVideo {
        color: $color-blue-theme;
        font-size: 18px;
    }
    .homeVideo {
        /* 	background-color:$color-gray-light-bg; */
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        /* 16:9 */
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

#openVideo {
    display: block;
    margin: 25px auto;
    width: 90px;
}

// =============
// course grid
.ld_course_grid {
    margin-bottom: 30px;
    article {
        position: relative;
        img {
            @include breakpoint(md) {
                height: 258px;
            }
        }
        .ld_course_grid_price {
            position: absolute;
            padding: 5px;
            color: white;
            background: $color-blue-theme;
            top: 0;
            left: 0;
            // display: none;
        }
        .ld_course_grid_price.free {
            display: none;
        }
        .ld_course_grid_price.ribbon-enrolled {
            display: none;
        }
        .caption {
            padding: 15px 20px 10px;
            background: $color-gray-light-bg;
            text-align: center;
            h3 {
                color: $color-blue-theme;
                font-size: 20px;
                @include breakpoint(md) {
                    min-height: 48px;
                }
            }
        }
        .ld_course_grid_button {
            a {
                @extend .btn;
                @extend .btn-blue;
                @extend .btn-sm;
                margin: auto!important;
                max-width: 200px!important;
                font-size: 15px!important;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

// =============
// quiz
@import "quiz";
.wpProQuiz_header {
    display: none !important;
}

.faqs {
    display: flex;
    flex-direction: column;
    .faqsBox {
        margin: 0 auto 20px;
        box-shadow: 0 5px 15px 0 rgba(193, 202, 217, 0.47);
        border-radius: 16px;
        background: white;
        width: 100%;
        @include breakpoint(md) {
            width: 720px;
        }
    }
    .collapseButton {
        text-decoration: none;
        /* body: */
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        align-items: center;
        width: 100%;
        outline: 0;
        color: $color-blue-theme;
        @include breakpoint(xs) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        @include breakpoint(md) {
            width: 720px;
            height: 80px;
        }
        margin: auto;
        &:hover {
            // color: black;
        }
        svg {
            position: initial;
        }
        span.collapse1 {
            padding-left: 30px;
            max-width: 260px;
            @include breakpoint(md) {
                max-width: initial;
                padding-right: 30px;
            }
        }
        .spanPlus {
            margin-right: 37px;
            background: #F6FAFF;
            padding: 7px;
            border-radius: 100%;
            width: 28px;
            height: 28px;
            display: none;
            svg {
                width: 14px;
            }
        }
        .spanMinus {
            @extend .spanPlus;
        }
    }
    .collapseButton[aria-expanded="false"] {
        .spanPlus {
            display: flex;
        }
        .spanMinus {
            display: none;
        }
    }
    .collapseButton[aria-expanded="true"] {
        .spanPlus {
            display: none;
        }
        .spanMinus {
            display: flex;
        }
    }
}

.card-body-faqs {
    width: 100%;
    @include breakpoint(md) {
        width: 650px;
        padding: 0;
    }
    margin: auto;
    background: #FFFFFF;
    border-radius: 16px;
    border:0;
    box-shadow: initial !important;
    a {
        color: blue;
    }
}

#gform_wrapper_2 {
    .gfield_label {
        margin: 0;
    }
    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        border-radius: 6px;
        border: 1px solid #bdbdbd80;
        padding: 10px;
    }
    textarea {
        border-radius: 6px;
        border: 1px solid #bdbdbd80;
        padding: 10px;
    }
}

//woo thanks page message
.custom_order_thanks {
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

//scrool to the top
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #012169;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}

//soporte page
#gform_4 {
    .gform_footer {
        text-align: center;
    }
    #gform_fields_4 {
        margin: auto !important;
        max-width: 600px;
        .organicweb-readonly input {
            background: whitesmoke
        }
    }
}